
<div class="flex">
    <div class="text-2xl font-bold text-900 mr-2">{{ starsAverage }}</div>
    <div>
        <p-rating [(ngModel)]="starsAverage" [cancel]="false" [readonly]="true"></p-rating>
        <div>{{reviews.length}} reviews</div>
    </div>
</div>

<div 
    *ngFor="let star of starsData" 
    class="bar-container"
>

    <div class="star-container">
        <span>{{star.stars}}</span>
        <i class="pi pi-star-fill"></i>
    </div>

    <p-progressBar 
        class="without-text"
        [value]="star.percentaje"  
        [style]="{ height: '6px' }"
    ></p-progressBar>
</div>

