<nav class="main-navbar surface-0" [ngClass]="{transparent: isTransparent}">
    <div class="relative surface-0" style="z-index: 99;">
    
        <div class="container">
            <div class="items-container surface-0">
                <div 
                    class="logo-container flex align-items-center gap-1 h-full" 
                    [routerLink]="['/tours']"
                    (click)="itemsCollapsed = true"
                >
                    <img 
                        src="../../../../assets/gotours-logo.png" 
                        alt="logo" 
                        class="logo"
                    >
                    <strong class="font-semibold">GoTour</strong>
                </div>
                <button class="hamburguer text-900" (click)="toggleCollapsed()">
                    <i class="pi pi-bars"></i>
                </button>
                <ul class="items normal">
                    <li 
                        *ngFor="let item of items" 
                        class="item" 
                        [routerLink]="item.routerLink"
                        (click)="item.command?.()"
                    >
                        <i [class]="item.icon"></i>
                        <span class="item-label">
                            {{item.label}}
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ul [class]="'items dropdown surface-0 ' + (itemsCollapsed && 'collapsed')">
        <li 
            class="item hover:surface-hover" 
            *ngFor="let item of items" 
            (click)="item.command?.()"
            [routerLink]="item.routerLink"
        >
            <div class="container">
                <i [class]="item.icon"></i>
                <span class="item-label">
                    {{item.label}}
                </span>
            </div>
        </li>
    </ul>
</nav>
