<nav class="main-navbar surface-ground">
    <div class="container ">
        <div class="items-container surface-ground">
            <div 
                class="logo-container flex align-items-center gap-1 h-full" 
                [routerLink]="['/tours']"
            >
                <img 
                    src="../../../../assets/gotours-logo.png" 
                    alt="logo" 
                    class="logo"
                >
                <strong class="font-semibold">GoTour</strong>
            </div>
            <button class="hamburguer" (click)="toggleCollapsed()">
                <i class="pi pi-bars"></i>
            </button>
            <ul class="items normal">
                <li 
                    *ngFor="let item of items" 
                    class="item" 
                    [routerLink]="item.routerLink"
                    (click)="item.command?.()"
                >
                    <i [class]="item.icon"></i>
                    <span class="item-label">
                        {{item.label}}
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <ul [class]="'items dropdown surface-ground ' + (itemsCollapsed && 'collapsed')">
        <li 
            class="item hover:surface-hover" 
            *ngFor="let item of items" 
            (click)="item.command?.()"
            [routerLink]="item.routerLink"
        >
            <div class="container">
                <i [class]="item.icon"></i>
                <span class="item-label">
                    {{item.label}}
                </span>
            </div>
        </li>
    </ul>
</nav>
