<section class="animate__animated animate__fadeIn">

    <h1> All the tours </h1>

    <span class="p-input-icon-left w-full block">
        <input 
            type="text" 
            class="w-full block mb-1"
            placeholder="Search tour by name"
            pInputText 
            [formControl]="inputSearch" 
        />
        <i class="pi pi-search"></i>
    </span>
    
    <p-dataView #dv [value]="tours">
        <ng-template let-tour pTemplate="listItem">
            <tour-item [tour]="tour" class="col-12"/>
        </ng-template>
    </p-dataView>
</section>
