
<ng-container *ngIf="!isLoading; else loading">
    
    <div class="flex gap-5">
    
        <tour-reviews-chart [reviews]="reviews" class="w-2" />
    
        <p-dataView #dv [value]="reviews" class="w-10" emptyMessage="This tour doesn't have reviews yet">
            <ng-template let-review pTemplate="listItem">
                <div class="col-12">
                    <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                        <img 
                            class="w-8 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" 
                            [src]="review.user.photo" 
                            [alt]="review.user.name" 
                        />
                        <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                            <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                                <div class="text-2xl font-bold text-900">{{ review.user.name }}</div>
                                <p-rating [ngModel]="review.rating" [readonly]="true" [cancel]="false"></p-rating>
                                <div class="flex align-items-center gap-3">
                                    <span class="flex align-items-center gap-2">
    
                                        <span class="font-semibold">{{ review.description }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</ng-container>
<ng-template #loading>
    Is loading
</ng-template>


    

