.dashboard-container{
    display: flex;
}

.side-menu-container{
    width: 20%;
}

.outlet-container{
    width: 80%;
}

.outlet{
    padding: 20px;
    max-width: 1010px;
    margin: 0 auto;
}

.p-tieredmenu{
    width: 20%;
    border-radius: 0;
    height: 100vh;
    padding-top: 50px;
    position: fixed;
    top: 0;
    bottom: 0;
}
