

.outlet{
    padding: 20px;
    max-width: 1010px;
    margin: 0 auto;
}


@media (min-width: 992px) {
    .dashboard-container{
        display: flex;
    }

    .side-menu-container{
        width: 20%;
    }
    
    .outlet-container{
        width: 80%;
    }
}
