<div class="flex justify-content-between">
    <h1>All guides</h1>
    <p-button 
        label="Add guide" 
        icon="pi pi-plus" 
        (onClick)="isFormVisible(true)"
    ></p-button>
</div>
<p-dialog header="Guides form" [(visible)]="showForm" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <guides-form [(showForm)]="showForm" [(selectedGuide)]="selectedGuide" />
</p-dialog>

<div class="grid">
    <div 
        class="col-12 sm:col-6 md:col-4"
        *ngFor="let guide of allGuides"
    >
        <p-card [header]="guide.name" [subheader]="guide.email">
            <ng-template pTemplate="header">
                <img 
                    alt="Card" 
                    [src]="guide.photo" 
                    style="object-fit: cover;"
                />
            </ng-template>
            <!-- <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                quas!
            </p> -->
            <ng-template pTemplate="footer">
                <p-button 
                    label="Edit" 
                    icon="pi pi-pencil" 
                    styleClass="p-button-warning p-button-sm"
                    (onClick)="onUpdateGuide(guide)"
                ></p-button>
                <p-button 
                    label="Delete" 
                    icon="pi pi-trash" 
                    styleClass="p-button-danger p-button-sm" 
                    [style]="{ 'margin-left': '.5em' }"
                    (onClick)="onDeleteGuide(guide)"
                ></p-button>
            </ng-template>
        </p-card>
    </div>
</div>
