<p-tieredMenu 
    [model]="options" 
    optionLabel="name" 
    class="side-menu"
    [ngClass]="{open: isOpen}"
>
    <ng-template 
        let-option 
        pTemplate="item">
        <div 
            class="flex align-items-center w-full gap-2"
            (click)="optionClick(option)"
        >
            <i [class]="option.icon"></i>
            <div>{{ option.name }}</div>
        </div>
    </ng-template>
    
</p-tieredMenu>
<div 
    class="overlay" 
    (click)="close()"
    [ngClass]="{open: isOpen}"
></div>
