<h1>Find your next adventure!</h1>

<div class="flex gap-4 pb-8">

    <div class="hidden lg:block lg:col-3">
        <tours-filters />
    </div>

    <div class="col-12 lg:col-9">
        <form class="p-inputgroup mb-3" (ngSubmit)="searchName()">
            <span class="p-inputgroup-addon">
                <i class="pi pi-search"></i>
            </span>
            <input 
                type="text" 
                [formControl]="tourNameSearch" 
                pInputText 
                placeholder="Keyword" 
            />
            <button type="submit" pButton label="Search"></button>
        </form>
        <div class="text-right mb-4 lg:hidden" (click)="openFiltersSidebar()">
            Filters <i class="pi pi-filter-fill text-600"></i>
        </div>

        <p-sidebar [(visible)]="filtersSidebarVisible" position="right" class="lg:hidden">
            <tours-filters />
        </p-sidebar>

        <p-dataView #dv [value]="toursList">
            <ng-template let-tour pTemplate="listItem">
        
                <tour-item class="col-12" [tour]="tour" />
        
            </ng-template>
        </p-dataView>
    </div>

</div>

